streamlit
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-core
chromadb
pydantic
tiktoken
sentence-transformers
requests
python-multipart
python-dotenv
python-docx
docx2txt
re
json
regex
numpy
tavily
pyyaml
