fastapi
python-multipart
uvicorn
pydantic
numpy
pandas
umap-learn
beautifulsoup4
scikit-learn
tiktoken
langchain
langchain-community
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
python-docx
pypdf
